{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        PaaS product prototypes
      </h1>

			<h2 class="heading-medium">Versions</h2>

			<ul class="list list-bullet">
        <li><a href="/v2">Version 2</a></li>
        <li><a href="/v1">Version 1</a></li>

			</ul>
    </div>
  </div>


</main>

{% endblock %}


